<ion-view title="添加情景" id="addScene">
    <ion-content padding="true" class="has-header">
        <form id="addScene-form4" class="list" style="margin-bottom: 0px;" novalidate>
            <label class="item item-input" id="addScene-input1">
                <input type="text" placeholder="请输入的情景名字" ng-model="sceneName" required>
            </label>
        </form>
        <ion-item class="item-icon-right" id="page9-list-item30" ng-click="modalIcon.show()">情景图标：
            <i class="icon"><img src="lib/ionic/img/scene/{{pic}}.png" onerror="this.src='lib/ionic/img/scene/scenes_default.png'" style="height: 25px;"></i>
        </ion-item>
        <div style="width: 90%;margin-left: auto;margin-right: auto;font-family : 微软雅黑,宋体;">
            <button id="addScene-button8" style="border-radius:7px 7px 7px 7px;font-family : 微软雅黑;" class="button button-positive  button-block" on-tap="save(sceneName);">保存情景信息</button>
        </div>
    </ion-content>
</ion-view>
<script id="templates/modalIcon.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">选择你的图标</h1>
            <button class="button button-clear button-primary" ng-click="modalIcon.hide()">确定</button>
        </ion-header-bar>
        <ion-content>
            <div class="item my-image-item"
                 collection-repeat="item in picItems track by $index" id="pic{{$index}}">
                <img ng-src="lib/ionic/img/scene/{{item}}.png" ng-click="chosePic(this,$index);" style="height: 100%;width: 100%;"/>
            </div>
        </ion-content>
    </ion-modal-view>
</script>