<ion-view title="关于配置" cache-view="false" id="set">
    <ion-content padding="true" class="has-header" >
        <div id="page-button-bar1" class="button-bar" style="width: 90%;margin-top: 40%;margin-left: auto;margin-right: auto">
            <button id="page-button4" class="button button-positive  button-block" style="border-color: #ffffff"  ng-click="saveBak()">备份配置</button>
            <button id="page-button5" class="button button-positive  button-block" style="border-color: #ffffff" ng-click="restore()">还原配置</button>
        </div>
    </ion-content>
</ion-view>