<ion-view title="关于网关" id="page8">
    <ion-content padding="true" class="has-header">
        <ion-list id="page8-list11">
            <ion-item class="item-icon-left" id="page8-list-item22">
                <i class="icon ion-ionic"></i>网关ID：
                <span class="item-note" name="gatewayID">OCCC</span>
            </ion-item>
            <ion-item class="item item-icon-left" id="page8-list-item23">
                <i class="icon ion-ios-flag"></i>网关名称：
                <input type="text" class="item-note" style="height: 20px;text-align: right"/>
            </ion-item>
        </ion-list>
        <div>
            <p>

            </p>
        </div>
        <ion-list id="page8-list13">
            <ion-item class="item-icon-left" id="page8-list-item27">
                <i class="icon ion-ios-alarm"></i>启动时间：
                <span class="item-note">2016-09-20 10:30:08</span>
            </ion-item>
            <ion-item class="item-icon-left" id="page8-list-item28">
                <i class="icon ion-ios-alarm-outline"></i>系统时间：
                <span class="item-note">2016-09-20 10:30:09</span>
            </ion-item>
            <ion-item class="item-icon-left" id="page8-list-item29">
                <i class="icon ion-information"></i>系统版本：
                <span class="item-note">4.5.2710</span>
            </ion-item>
        </ion-list>
        <div class="spacer" style="height: 20%"></div>
        <div style="width: 90%;margin-left: auto;margin-right: auto;font-family : 微软雅黑,宋体;">
        <button id="page8-button3" style="border-radius:7px 7px 7px 7px;font-family : 微软雅黑;" class="button button-positive  button-block">保存网关信息</button>
        <button id="page8-button5" style="border-radius:7px 7px 7px 7px;font-family : 微软雅黑;" class="button button-positive  button-block">网关信息同步服务器</button>
        </div>
    </ion-content>

</ion-view>