<ion-view title="遥控设备添加" id="page20">
    <ion-content padding="true" class="has-header">
        <ion-list id="page20-list26">
            <ion-item class="item-icon-right" id="page20-list-item64" ui-sref="menu.page21">码库遥控设备
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="page20-list-item65" ui-sref="menu.page22">自定义对码遥控设备
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>