<ion-view title="自定义遥控设备" id="page22">
    <ion-content padding="true" class="has-header">
        <ion-list id="page22-list27">
            <ion-item class="item-icon-right" id="page22-list-item71" ng-click="goDetail('空调',2)">空调
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="page22-list-item72" ng-click="goDetail('电视',1)">电视
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="page22-list-item73" ng-click="goDetail('机顶盒',1)">机顶盒
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>