<ion-view title="空调" id="page24">
    <ion-content padding="true" class="has-header">
        <div style="height: 20%;text-align:center;margin-top: 25px;" >
            <button id="page24-button20" class="button button-positive" style="width: 40%">开机</button>
            <button id="page24-button19" class="button button-positive" style="width: 40%">关机</button>
        </div>
        <div id="page24-container4" style="text-align:center;height: 20%;margin-top: 10px;">
            <button id="page24-button23" class="button button-positive" style="width: 40%">制热</button>
            <button id="page24-button24" class="button button-positive" style="width: 40%">制冷</button>
        </div>
        <div id="page24-container5" style="height: 50%;margin-top: 20px;">
            <div style="text-align:center;">
                <td><button id="page24-button27" class="button button-positive" style="width: 20%">17</button></td>
                <td><button id="page24-button26" class="button button-positive" style="width: 20%">18</button></td>
                <td><button id="page24-button28" class="button button-positive" style="width: 20%">19</button></td>
                <td><button id="page24-button31" class="button button-positive" style="width: 20%">20</button></td>
            </div>
            <div style="text-align:center;margin-top: 10px;">
                <td><button id="page24-button32" class="button button-positive" style="width: 20%">21</button></td>
                <td><button id="page24-button33" class="button button-positive" style="width: 20%">22</button></td>
                <td><button id="page24-button34" class="button button-positive" style="width: 20%">23</button></td>
                <td><button id="page24-button35" class="button button-positive" style="width: 20%">24</button></td>
            </div>
            <div style="text-align:center;margin-top: 10px;">
                <td><button id="page24-button29" class="button button-positive" style="width: 20%">25</button></td>
                <td><button id="page24-button36" class="button button-positive" style="width: 20%">26</button></td>
                <td><button id="page24-button37" class="button button-positive" style="width: 20%">27</button></td>
                <td><button id="page24-button38" class="button button-positive" style="width: 20%">28</button></td>
            </div>
            <div style="text-align:center;margin-top: 10px;">
                <td><button id="page24-button39" class="button button-positive" style="width: 20%">29</button></td>
                <td><button id="page24-button40" class="button button-positive" style="width: 20%">30</button></td>
            </div>
        </div>
    </ion-content>
</ion-view>