<ion-view id="page1" style="background-color:#FFFFFF;">
    <ion-nav-title class="bar bar-header bar-positive">
        <button class="button back-button buttons button-clear header-item" style="text-align: left;font-family: 微软雅黑;size: 17px;" ng-click="Back();">返回</button>
        <h2 class="title" >设置</h2>
    </ion-nav-title>
    <ion-content padding="true" class="has-header">
        <ion-list id="page1-list7">
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item9" ui-sref="menu.page5">
                <i class="icon"><img src="lib/ionic/img/setting/accountmanager.png" style="height: 28px;"></i>账号管理
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item14" ui-sref="menu.page6">
                <i class="icon"><img src="lib/ionic/img/setting/spacemanager.png" style="height: 28px;"></i>空间管理
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item13" ui-sref="menu.device">
                <i class="icon"><img src="lib/ionic/img/setting/device.png" style="height: 28px;"></i>设备管理
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item12" ui-sref="menu.page13">
                <i class="icon"><img src="lib/ionic/img/setting/scene.png" style="height: 28px;"></i>情景管理
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item22" ui-sref="menu.time">
                <i class="icon"><img src="lib/ionic/img/setting/scene.png" style="height: 28px;"></i>定时管理
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item17" ui-sref="menu.page23">
                <i class="icon"><img src="lib/ionic/img/setting/hongwai.png" style="height: 28px;"></i>红外对码
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item15" ui-sref="menu.page7">
                <i class="icon"><img src="lib/ionic/img/setting/message.png" style="height: 28px;"></i>消息通知
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item16" ui-sref="menu.page8">
                <i class="icon"><img src="lib/ionic/img/setting/about.png" style="height: 28px;"></i>关于网关
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item19" ng-click="Store();">
                <i class="icon"><img src="lib/ionic/img/setting/about.png" style="height: 28px;"></i>关于配置
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
