<ion-view title="设备添加" id="page16">
    <ion-content padding="true" class="has-header">
        <ion-list id="page16-list20">
            <ion-item class="item-icon-right" id="page16-list-item47" ui-sref="menu.findDevice">智能设备
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="page16-list-item48" ui-sref="menu.addZigBee">安防设备
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="page16-list-item49" ui-sref="menu.listInfrared">管理中央式设备
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="page16-list-item50" ui-sref="menu.add485Device">485设备
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>