<ion-view title="账号管理" id="page5">
    <ion-content padding="true" class="has-header">
        <ion-list id="page5-list8">
            <ion-item class="item-icon-left" id="page5-list-item10" on-hold="deleteAccount()">
                <i class="icon ion-android-contact"></i>18523058998</ion-item>
            <ion-item class="item-icon-left" id="page5-list-item11" on-hold="deleteAccount()">
                <i class="icon ion-android-contact"></i>15889756386</ion-item>
        </ion-list>
        <div style="width: 90%;margin-left: auto;margin-right: auto;" >
        <button id="page5-button1" style="border-radius:7px 7px 7px 7px;display: none;font-family : 微软雅黑;" class="button button-positive  button-block" on-tap="delete();">删除帐号</button>
            </div>
    </ion-content>
</ion-view>