<ion-view title="卷帘" cache-view="false" id="rollingScreen">
    <ion-content padding="true" class="has-header" ng-init="initRollingScreen();">
        <div id="page-button-bar1" class="button-bar" style="width: 90%;margin-top: 40%;margin-left: auto;margin-right: auto">
            <button id="page-button4" class="button button-positive  button-block" style="border-color: #ffffff"  ng-click="saveRollingScreen('OPEN')">开</button>
            <button id="page-button5" class="button button-positive  button-block" style="border-color: #ffffff" ng-click="saveRollingScreen('STOP')">关</button>
            <button id="page-button6" class="button button-positive  button-block" style="border-color: #ffffff" ng-click="saveRollingScreen('HA_ATTR_STOP')">停止</button>
        </div>
    </ion-content>
</ion-view>