<ion-view title="可获取设备" cache-view="false" id="page13" ng-init="getDevice(name)">
    <ion-content padding="true" class="has-header">
        <ion-list id="page13-list17" ng-repeat="item in items track by $index">
            <ion-item class="item-icon-left item-icon-right" id="page13-list-item37" on-tap="goUrl({{item}},name);" />
                <i class="icon ion-ios-home"></i>{{item._label}}
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
        <!--<div style="width: 90%;margin-left: auto;margin-right: auto;display: none" id="button">
            <button id="page13-button2"  style="border-radius:7px 7px 7px 7px;" class="button button-positive  button-block" on-tap="goUpdate('menu.updateScene');">修改</button>
            <button id="page13-button3"  style="border-radius:7px 7px 7px 7px;" class="button button-positive  button-block" on-tap="delete();">删除</button>
        </div>-->
    </ion-content>
</ion-view>