<ion-view title="{{label}}设置" id="sceneDeviceSettings" ng-init="">
    <ion-content padding="true" class="has-header">
        <ion-toggle  toggle-class="toggle-positive" id="page11-toggle3" ng-model="checked" >设置{{label}}的状态</ion-toggle>
        <div style="width: 90%;margin-left: auto;margin-right: auto;font-family : 微软雅黑,宋体;">
            <button id="addScene-button8" style="border-radius:7px 7px 7px 7px;font-family : 微软雅黑;"  class="button button-positive  button-block" on-tap="save(checked,name);">保存</button>
        </div>
    </ion-content>
</ion-view>