<ion-view title="设置" id="page1" class="bar-positive">
    <ion-content padding="true" class="has-header">
        <ion-list id="page1-list7">
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item9" ui-sref="menu.page5">
                <i class="icon ion-ios-contact"></i>账号管理
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item14" ui-sref="menu.page6">
                <i class="icon ion-android-star-outline"></i>空间管理
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <div>
                <p>

                </p>
            </div>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item13" ui-sref="menu.page14">
                <i class="icon ion-iphone"></i>设置管理
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item12" ui-sref="menu.page13">
                <i class="icon ion-ios-cloudy-night"></i>情景模式
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item15" ui-sref="menu.page7">
                <i class="icon ion-volume-medium"></i>消息通知
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <div>
                <p>

                </p>
            </div>
            <ion-item class="item-icon-left item-icon-right" id="page1-list-item16" ui-sref="menu.page8">
                <i class="icon ion-information"></i>关于网关
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>