<ion-view title="定时器类型" id="timeManager">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="addTime()" style="width: 5rem; color:white; font-size:16px;font-family : 微软雅黑;">
            添加
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list id="page22-list27">
            <ion-item class="item-icon-right" id="page22-list-item71" ng-click="goDetail('0')">电器定时
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="page22-list-item72" ng-click="goDetail('1')">安防定时
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="page22-list-item73" ng-click="goDetail('2')">情景定时
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>