<ion-view title="定时器类型" id="timeManager" cache-view="false">
    <ion-content padding="true" class="has-header" ng-init="initTimeDetail();">
        <ion-list id="page22-list27" ng-repeat="item in items track by $index">
            <ion-item class="item-icon-right" id="page22-list-item71" on-hold="goRemoveTime(item,$index);" on-tap="goUpdateTime(item);">{{item._label}}
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>